<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_no_background"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.DoAnUngDung2"
        tools:targetApi="31">

        <activity
            android:name=".View.Admin_Login"
            android:exported="false"
            android:theme="@style/Theme.DoAnUngDung2.NoActionBar.User" />
        <activity
            android:name=".View.Admin_MainPage"
            android:exported="false"
            android:theme="@style/Theme.DoAnUngDung2.NoActionBar" />
        <activity
            android:name=".View.Admin_Add_Exercise_Category"
            android:exported="false"
            android:theme="@style/Theme.DoAnUngDung2.NoActionBar" />
        <activity
            android:name=".View.Admin_Edit_ExercisesCategory"
            android:exported="false"
            android:theme="@style/Theme.DoAnUngDung2.NoActionBar" />
        <activity
            android:name=".View.Admin_Delete_ExercisesCategory"
            android:exported="false"
            android:theme="@style/Theme.DoAnUngDung2.NoActionBar" />
        <activity
            android:name=".View.Admin_Add_Exercise"
            android:exported="false"
            android:theme="@style/Theme.DoAnUngDung2.NoActionBar" />
        <activity
            android:name=".View.Admin_Edit_Exercises"
            android:exported="false"
            android:theme="@style/Theme.DoAnUngDung2.NoActionBar" />
        <activity
            android:name=".View.Admin_Delete_Exercise"
            android:exported="false"
            android:theme="@style/Theme.DoAnUngDung2.NoActionBar" />
        <activity
            android:name=".View.Admin_Add_Question"
            android:exported="false"
            android:theme="@style/Theme.DoAnUngDung2.NoActionBar" />
        <activity
            android:name=".View.Admin_Edit_Questions"
            android:exported="false"
            android:theme="@style/Theme.DoAnUngDung2.NoActionBar" />
        <activity
            android:name=".View.Admin_Delete_Questions"
            android:exported="false"
            android:theme="@style/Theme.DoAnUngDung2.NoActionBar" />
        <activity
            android:name=".View.Admin_Questions_Exercises"
            android:exported="false"
            android:theme="@style/Theme.DoAnUngDung2.NoActionBar" />
        <activity
            android:name=".View.Admin_Add_Grammar_Category"
            android:exported="false"
            android:theme="@style/Theme.DoAnUngDung2.NoActionBar" />
        <activity
            android:name=".View.Admin_Edit_Grammar_Category"
            android:exported="false"
            android:theme="@style/Theme.DoAnUngDung2.NoActionBar" />
        <activity
            android:name=".View.Admin_Delete_Grammar_Category"
            android:exported="false"
            android:theme="@style/Theme.DoAnUngDung2.NoActionBar" />
        <activity
            android:name=".View.Admin_Add_Grammar"
            android:exported="false"
            android:theme="@style/Theme.DoAnUngDung2.NoActionBar" />
        <activity
            android:name=".View.Admin_Edit_Grammar"
            android:exported="false"
            android:theme="@style/Theme.DoAnUngDung2.NoActionBar" />
        <activity
            android:name=".View.Admin_Delete_Grammar"
            android:exported="false"
            android:theme="@style/Theme.DoAnUngDung2.NoActionBar" />
        <activity
            android:name=".View.Admin_Add_Topic_SampleSentence"
            android:exported="false"
            android:theme="@style/Theme.DoAnUngDung2.NoActionBar" />
        <activity
            android:name=".View.Admin_Edit_Topic_SampleSentence"
            android:exported="false"
            android:theme="@style/Theme.DoAnUngDung2.NoActionBar" />
        <activity
            android:name=".View.Admin_Delete_Topic_SampleSentence"
            android:exported="false"
            android:theme="@style/Theme.DoAnUngDung2.NoActionBar" />
        <activity
            android:name=".View.Admin_Add_Sample_Sentence"
            android:exported="false"
            android:theme="@style/Theme.DoAnUngDung2.NoActionBar" />
        <activity
            android:name=".View.Admin_Edit_Sample_Sentence"
            android:exported="false"
            android:theme="@style/Theme.DoAnUngDung2.NoActionBar" />
        <activity
            android:name=".View.Admin_Delete_SampleSentence"
            android:exported="false"
            android:theme="@style/Theme.DoAnUngDung2.NoActionBar" />
        <activity
            android:name=".View.Admin_Add_Dictionary"
            android:exported="false"
            android:theme="@style/Theme.DoAnUngDung2.NoActionBar" />
        <activity
            android:name=".View.Admin_Edit_Dictionary"
            android:exported="false"
            android:theme="@style/Theme.DoAnUngDung2.NoActionBar" />
        <activity
            android:name=".View.Admin_Delete_Dictionary"
            android:exported="false"
            android:theme="@style/Theme.DoAnUngDung2.NoActionBar" />
        <activity
            android:name=".View.User_Login"
            android:exported="false"
            android:theme="@style/Theme.DoAnUngDung2.NoActionBar.User"/>
        <activity
            android:name=".View.User_Register"
            android:exported="false"
            android:theme="@style/Theme.DoAnUngDung2.NoActionBar.User" />
        <activity
            android:name=".View.User_ForgotPassword"
            android:exported="false"
            android:theme="@style/Theme.DoAnUngDung2.NoActionBar.User" />
        <activity
            android:name=".View.User_Enter_OTP"
            android:exported="false"
            android:theme="@style/Theme.DoAnUngDung2.NoActionBar.User" />
        <activity
            android:name=".View.User_MainPage"
            android:exported="false"
            android:theme="@style/Theme.DoAnUngDung2.NoActionBar.User" />
        <activity
            android:name=".View.MainActivity"
            android:exported="false" />
        <activity
            android:name=".View.System_Intro_App"
            android:exported="true"
            android:theme="@style/Theme.DoAnUngDung2.NoActionBar.User">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>